@import "tailwindcss";

@font-face {
  font-family: "Author";
  src: url("/public/fonts/OTF/Author-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-author: "Author", sans-serif;
  --spacing-page: 2.5rem;
}

body {
  background-color: black;
}

@utility paragraph {
  @apply font-author text-base leading-7;
}
@utility title {
  @apply font-author antialiased text-2xl   border-b w-fit border-dashed;
}

@utility input {
  @apply border w-fit rounded-sm  outline-none focus:outline-0 border-0    border-b-2 mt-3;
}
